<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NPS Components</title>
            <link rel="stylesheet" href="../css/normalize.css">
            <link rel="stylesheet" href="../css/style.css">
        <script src="https://kit.fontawesome.com/4611fd7710.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Web components go Here</h1>

        <h2> Typography Defaults</h2>
      <article class="component">
        <h3>Body</h3>
        <img src="images/image20.png" width=170 alt="title">
        <img src="images/image21.png" width=300 alt="paragraph">
            <div class="component__code component__code-typography">
                <h4>National Park News</h4>
                <p>Find the latest news and events, search for images and videos, and discover facts and figures about the national parks.</p>
            </div>
      </article>  
        
      <article class="component">
        <img src="images/image1.png">
        <div class="component__code component__code-alert">
            <img src="images/image4.png" class="alert__icon">
            <h4 class="alert__title">COVID-19 Response</h4>
            <p class="alert__information">Following guidance from the White House, Centers for Disease Control and Prevention, and state and local public health authorities, we are increasing access and services in a phased approach across all units of the National Park System. Before visiting a park, please check the <a href="#!">park website</a> to determine its operating status. Updates about the overall NPS response to COVID-19, including safety information, are posted on <a href="#!">www.nps.gov/coronavirus.</a></p>
        </div>
      </article>

      <article class="component">
        <img src="images/image6.png">
        <div class="component__code component__code-header">
            <div class="header-left">
                <img src="images/image10.png" class="nps-icon">
                <h4>National Park Service</h4>
            </div>   
                <ul>
                    <li><i class="fas fa-search"></i>Search</li>
                    <li><i class="fas fa-bars"></i>Menu</li>
            </ul>
        </div>
      </article>

      <article class="component">
        <img src="images/image5.png" width=1000>
        <div class="component__code component__code-subheader component__code-subheaderu">
            <h4>Sharing History & Culture</h4>
            <p>Native American Heritage Month</p>
            <button>Explore stories</button>

        </div>
        <div class="component__code component__code-subheader component__code-subheaderl">
            <h4><a href="#!">Find a Park</a></h4>
            <select class="dropdown" value="By State...">
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>

            </select>
            <p><a href="#!">See All Parks & Search By Map</a></p>

        </div>
      </article>

    </body>

</html>