<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NPS Components</title>
            <link rel="stylesheet" href="../css/normalize.css">
            <link rel="stylesheet" href="../css/style.css">
        <script src="https://kit.fontawesome.com/4611fd7710.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <h1>Web Design Case Study</h1>
      <article class="component">
        <h2 class="section-header"> Typography Defaults</h2>
          <div class="component-container">
            <h3>Images:</h3>
            <img src="images/image20.png" width=170 alt="title">
            <img src="images/image21.png" width=300 alt="paragraph">
                <div class="component__code component__code-typography">
                    <h3 class="code-section">Code:</h3>
                    <h4>National Park News <i class="fas fa-angle-right"></i></h4>
                    <p>Find the latest news and events, search for images and videos, and discover facts and figures about the national parks.</p>
                </div>
          </div>
      </article>
        
      <article class="component">
        <h2 class="section-header">Alert</h2>
          <div class="component-container">
            <h3>Images:</h3>
                <p>Alert Section</p>
                <img src="images/image1.png">
                <p>Alert Icon</p>
                <img src="images/image4.png">
                <p>Alert Link</p>
                <img src="images/image3.png">
            <h3 class="code-section">Code:</h3>
                <div class="component__code component__code-alert">
                    <img src="images/image4.png" class="alert__icon">
                    <h4 class="alert__title">COVID-19 Response</h4>
                    <p class="alert__information">Following guidance from the White House, Centers for Disease Control and Prevention, and state and local public health authorities, we are increasing access and services in a phased approach across all units of the National Park System. Before visiting a park, please check the <a href="#!">park website</a> to determine its operating status. Updates about the overall NPS response to COVID-19, including safety information, are posted on <a href="#!">www.nps.gov/coronavirus.</a></p>
                </div>
          </div>
      </article>

      <article class="component">
        <h2 class="section-header">Header Navigation</h2>
          <div class="component-container">
            <h3>Images:</h3>
                <p>Navigation Bar</p>
                <img src="images/image6.png">
                <p>NPS Emblem</p>
                <img src="images/image10.png" class="nps-icon">
                <p>Oragization Title</p>
                <img src="images/image7.png">
                <p>Navigation Item</p>
                <img src="images/image9.png">
            <h3 class="code-section">Code:</h3>
                <div class="component__code component__code-header">
                    <div class="header-left">
                        <img src="images/image10.png" class="nps-icon">
                        <h4>National Park Service</h4>
                    </div>   
                        <ul>
                            <li><i class="fas fa-search"></i> Search</li>
                            <li><i class="fas fa-bars"></i> Menu</li>
                        </ul>
                    </div>
                </div>
      </article>

      <article class="component">
        <h2 class="section-header">Header Section</h2>
          <div class="component-container">
            <h3>Images:</h3>
                <p>Full Header Section</p>
                <img src="images/image5.png">
                <P>Top Story</P>
                <img src="images/image11.png" class="nps-icon">
                <p>State Navigation</p>
                <img src="images/image13.png">
                <p>Button</p>
                <img src="images/image12.png">
                <p>Navigation Link</p>
                <img src="images/image14.png">
            <h3 class="code-section">Code:</h3>
                <div class="component__code component__code-subheader component__code-subheaderu">
                    <h4>Sharing History & Culture</h4>
                    <p>Native American Heritage Month</p>
                    <button>Explore stories</button>
                </div>
            <div class="component__code component__code-subheader component__code-subheaderl">

            <h4><a href="#!">Find a Park</a></h4>
            <select class="dropdown" value="By State...">
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>

            </select>
            <p><a href="#!">See All Parks & Search By Map</a></p>
            </div>
        </div>
      </article>

      <article class="component">
        <h2 class="section-header">Articles</h2>
        <div class="component-container">
            <h3>Images:</h3>
                <p>Article Section</p>
                <img src="images/image17.png" width=500>
                <img src="images/image18.png" width=500>
                <p>Article Unit</p>
                <img src="images/article-unit.png">
                <p>Article Ad</p>
                <img src="images/image22.png">
                <p>Ad Button</p>
                <img src="images/image23.png" >
            <h3 class="code-section">Code:</h3>
            <div class="component__articles">
                <div class="component__code component__code-article">
                    <a href="#!">
                        <img src="images/article1.PNG">
                        <h4>2019 Novel Coronavirus (COVID-19) <i class="fas fa-angle-right"></i></h4>
                        <p>Learn about the National Park Service response to the coronavirus outbreak.</p>
                    </a>        
                </div>
                <div class="component__code component__code-article">
                <a href="#!">
                    <img src="images/article2.PNG">
                    <h4>Special Invitation for Fifth Graders <i class="fas fa-angle-right"></i></h4>
                    <p>Fifth graders of the 2020-2021 school year can get an entrance pass granting free access to parks through August 2021!</p>        
                </a>
                </div>
                <div class="component__code component__code-article">
                <a href="#!">
                    <img src="images/article3.PNG">
                    <h4>Veterans Day <i class="fas fa-angle-right"></i></h4>
                    <p>Honor our nation's veterans and learn about a free pass for active duty military, veterans, and Gold Star Families.</p>        
                </a>
            </div>
            </div>
            <div class="component__articles">  
            <div class="component__code component__code-article">
                <a href="#!">
                    <img src="images/article4.PNG">
                    <h4>Great American Outdoors Act <i class="fas fa-angle-right"></i></h4>
                    <p>The act, signed by President Trump on August 4, will permanently fund the Land and Water Conservation Fund and restore our national parks.</p>        
                </a>
                </div>
                <div class="component__code component__code-article">
                <a href="#!">
                    <img src="images/article5.PNG">
                    <h4>Autumn Falls <i class="fas fa-angle-right"></i></h4>
                    <p>Catch the last days of autumn in parks as the season slowly turns to winter. Enjoy colorful scenery and cultural festivities.</p>        
                </a>
                </div>
                <div class="component__code component__code-article">
                <a href="#!">
                    <img src="images/article6.PNG">
                    <h4>This Month's National Park Getaway <i class="fas fa-angle-right"></i></h4>
                    <p>Pipestone National Monument continues to be a place for generations of American Indians to share thousands of years of tradition.</p>        
                </a>
            </div>
            </div>
            <div class="component__articles">
            <div class="component__code component__code-article">
                <a href="#!">
                    <img src="images/article7.PNG">
                    <h4>National Park News <i class="fas fa-angle-right"></i></h4>
                    <p>Find the latest news and events, search for images and videos, and discover facts and figures about the national parks.</p>        
                </a>
                </div>
                <div class="component__code component__code-article">
                <a href="#!">
                    <img src="images/article8.PNG">
                    <h4>Photos, Videos, Webcams & More <i class="fas fa-angle-right"></i></h4>
                    <p>Explore the national parks through multimedia. Search for photos, videos, webcams, and audio files on any topic.</p>        
                </a>
                </div>
                <div class="component__code-article component__code-articlead">
                    <img src="images/foundationicon.PNG">
                    <p>The national park community welcomes you! Together we can celebrate these special places and ensure they exist forever.</p>
                    <button class="button button-black">Subscibe</button>
                </div>
            </div>
      </article>


      <article class="component">
        <h2 class="section-header">Date and Ad</h2>
            <div class="component-container">
            <h3 class="code-section">Code:</h3>
                <img src="images/image27.png">
                <p class="update-date">Last updated: November 17, 2020</p>
            </div>
        </article>


      <article class="component">
        <h2 class="section-header">Educational Links</h2>
            <div class="component-container">
            <h3>Images:</h3>
                <p>Educational Links</p>
                <img src=images/educate.png alt="education links image" width=1000>
                <p>Educational Link Unit</p>
                <img src="images/image30.png">
                <p>Eductaional Link Title</p>
                <img src="images/stories.PNG">
                <p>Educational Link Category</p>
                <img src="images/dh.png">
            <h3 class="code-section">Code:</h3>
            <div class="links">
                <div class="container">
                    <a href="#!"><img src=images/1.png alt="Discover History" class="link-image"></a>
                    <div class="verbiage">
                        <h2 class="title">Stories of Places & People</h2>
                        <p>Discover History</p>
                    </div>
                </div>
                
                <div class="container">
                    <a href="#!"><img src=images/2.png alt="Explore Nature" class="link-image"></a>
                    <div class="verbiage">
                        <h2 class="title">Protecting The Natural World</h2>
                        <p>Explore Nature</p>
                    </div>
                </div>
    
                <div class="container">
                    <a href="#!"><img src=images/3.png alt="For Kids" class="link-image"></a>
                    <div class="verbiage">
                        <h2 class="title">Every Kid Outdoors</h2>
                        <p>For Kids</p>
                    </div>
               </div>
    
                <div class="container">
                    <a href="#!"><img src=images/4.png alt="For Educators" class="link-image"></a>
                    <div class="verbiage">
                        <h2 class="title">America's Classrooms</h2>
                        <p>For Educators</p>
                     </div>
                </div>
            </div>
      </article>

      <article class="component">
        <h2 class="section-header">Footer Section</h2>
            <div class="component-container">
            <h3>Images:</h3>
                <p>Footer</p>
                <img src="images/image31.png">
                <p>Footer Header</p>
                <img src="images/image32.png">
                <p>Footer Navigation Item</p>
                <img src="images/image33.png">
                <p>Social Media Link</p>
                <img src="images/image38.png">
                <p>Branding</p>
                <img src="images/image44.png">
            <h3 class="code-section">Code:</h3>
            <div class= "footer">
                <h4 class="footer-head">Experience Your America&#153</h4>
                <div class="footer-body">
                    <nav class="footer-nav">
                        <ul>
                            <li class="footer-nav__item footer-nav__item-primary"><a href="#!">Accessibility</a></li>
                            <li class="footer-nav__item"><a href="#!">Privacy Policy</a></li>
                            <li class="footer-nav__item"><a href="#!">FOIA</a></li>
                            <li class="footer-nav__item"><a href="#!">Notices</a></li>
                            <li class="footer-nav__item"><a href="#!">Disclaimer</a></li>
                            <li class="footer-nav__item"><a href="#!">FAQ</a></li>
                            <li class="footer-nav__item"><a href="#!">No Fear Act</a></li>
                            <li class="footer-nav__item"><a href="#!">Contact Us</a></li>
                            <li class="footer-nav__item"><a href="#!">USA.GOV</a></li>
                        </ul>
                            <ul class="footer-social">
                            <li><a href="#!"><img src="images/fb.png" width=15> Facebook</a></li>
                            <li><a href="#!"><img src="images/yt.png" width=15> YouTube</a></li>
                            <li><a href="#!"><img src="images/tw.png" width=15> Twitter</a></li>
                            <li><a href="#!"><img src="images/ig.png" width=15> Instagram</a></li>
                            <li><a href="#!"><img src="images/fl.PNG" width=15> Flickr</a></li>
                            <li><a href="#!"><img src="images/it.png" width=15> itunes</a></li>
                        </ul>
                    </nav>
                    <div class="footer-branding">
                        <div class="footer-branding__verbiage">
                            <p>National Park Service</p>
                            <p>U.S. Department of the Interior</p>
                        </div>
                    <img src="images/image40.png">
                </div>  
            </div>
        </div>
      </article>

    </body>

</html>