<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NPS Components</title>
            <link rel="stylesheet" href="../css/normalize.css">
            <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <h1>Web components go Here</h1>

        <h2> Typography Defaults</h2>
      <article class="component">
        <h3>Body</h3>
        <img src= "images/image 20.png" width=170 alt="title">
        <img src= "images/image 21.png" width=300 alt="paragraph">
            <div class="component__code">
                <h4>National Park News</h4>
                <p>Find the latest news and events, search for images and videos, and discover facts and figures about the national parks.</p>
            </div>
      </article>  

    </body>

</html>